.crop_gif {
	border: 10px;
	border-color: #ffffff;
	border-style: solid;
	border-radius: 5px;
	margin-bottom: 2%;
	width: 100%;
}

.no_margin {
	margin-bottom: 0.25em !important;
}

.feelings {
	/* background-color: #ffffff; */
	/* color: #3498db; */
	color: #ffffff;
	padding: 0.25em;
	margin: 10px;
	border-radius: 5px;
	border: solid 1px;
	border-color: #ffffff;
	font-weight: bold;
	/* box-shadow: 2px 2px #888888; */
}

.next_row {
	margin-top:20px;
}

.btn.get_started {
	color: #ffffff !important;
	text-decoration: none !important;
}

.wrapper.noheader {
	padding: 1em 0 1em 0;
}

.stage_path {
	margin-top: 70px;
}

.stages_header {
	position: inline;
	margin-bottom: 20px;
}

.stages_logo {
	font-size: 1.25em;
  color: #3498db;
}

.stage_text {
	/* width:10%; */
	margin-right: 2%;
	font-size:2em;
	padding-top:1%;
	padding-right: 2%;
	padding-left: 2%;
	font-weight: bold;
	margin-bottom: 2%;
	border-radius: 5px;
	font-weight: bold;
}

.stage_text.current {
	color: #ffffff !important;
	background-color: #3498db;
}

.white_button {
	background-color: #fff !important;
  color: #3498db !important;
}

.current {
	color: #3498db !important;
}

.stage_image.current {
	opacity: 100%;
}

.stage_image.inactive {
	opacity: 60%;
}

.stage_image {
	width:5%;
	margin-left: 5%;
	margin-right: 2%;
}

.stage_arrow {
	font-size:4em;
}

.section_heading {
	color: #3498db !important;
}

.emo {
  margin-left: 40px;
  margin-bottom: 20px;
  width: 500px;
}

.emo_table {
	font-size: 0.8em;
  font-weight: bold;
	color: #3498db !important;
  text-align: center;
}

.preview_heading {
	font-size: 1.5em;
	color: #ff0000 !important;
	font-weight: bold;
}

.order_list {
  color: #999999;
  font-size:
}

.order_list_bullet {

}

ul.checklist {
			list-style: none;
			padding-left: 0;
      font-size: 1.5em;
      margin-top: 1.5em;
		}

    ul.checklist li:before {
		color: #00BC8A;
	}

	ul.contact li:before {
		color: #00BC8A;
	}

			ul.checklist li {
				text-decoration: none;
				margin-bottom: 1em;
				padding-left: 0;
			}

				ul.checklist li:before {
					-moz-osx-font-smoothing: grayscale;
					-webkit-font-smoothing: antialiased;
					font-family: FontAwesome;
					font-style: normal;
					font-weight: normal;
          /* font-size: 3em; */
					text-transform: none !important;
				}

				ul.checklist li:before {
					content: '\f005';
					margin-right: 0.75em;
				}

		ul.icons {
			cursor: default;
			list-style: none;
			padding-left: 0;
		}

			ul.icons li {
				display: inline-block;
				padding: 0 1em 0 0;
			}

				ul.icons li:last-child {
					padding-right: 0;
				}

				ul.icons li .icon:before {
					font-size: 2em;
				}
